
.imagen{
    background-color: cadetblue;
}
img{
    margin-left: 570px;
}

form{
    text-align: center;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    background-color: aquamarine;
}